<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" routerLink="/">ChachaIm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse collapse-custom" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active ">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf='isLogin' class="nav-link" routerLink="/input">호스트 등록</a>
      </li>
    </ul>

    <span *ngIf='isLogin' class="navbar-text">
      {{name}}
    </span>
    <button *ngIf='!isLogin' class='btn' (click) = 'login()'>login</button>
    <button *ngIf='isLogin' class='btn' (click) = 'logout()'>logout</button>
  </div>
</nav>
