<div class="list">
  <div class="row">
    <div *ngFor="let house of houses | async" class="col-6" (mouseover)="test(house)" [routerLink]="['/detail', house.id]">
     
          <div class="image" >
            <img src="{{house.path}}" alt="">
            <!-- <p>{{house.path}}</p> -->
          </div>
          <div class="content-sector">
            <p class="text-right"> 
              <span class="name" >
                {{house.houseName}}
              </span>
            </p>
            <p class="text-right">
            <span class="price">
              {{house.price | currency:'₩' : 'symbol':'0.0'}} / 박
            </span>
            </p>
          </div>
      <hr>
    </div>
  </div>
</div>
