<div class="list">
  <div class="row">
    <div *ngFor="let house of houses | async" class="col-6">

          <div class="image">
            <img src="{{house.path}}" alt="">
            <!-- <p>{{house.path}}</p> -->
          </div>
          <div class="content-sector">
            <p>
              <span class="name" [routerLink]="['/detail', house.id]">
                {{house.houseName}}
              </span>
            </p>
            <span class="price">
              {{house.price}}
            </span>
          </div>


      <hr>
    </div>
  </div>
</div>
