<div class="container" *ngIf="house">
  <div class="row">

    <div class="col-7">
      <label for="house-title" class="house-title">{{house.houseName}}</label>
      <br>
      <label for="description" class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tempora, tempore natus aliquid voluptatibus recusandae, provident a nostrum earum, quae asperiores fugit maxime quod quidem! Delectus officiis id inventore veniam.</label>

      <hr>
      <label for="hoster" class="subject">호스터 소개</label>
      <br>
      <label for="hoster-name" class="hoster-name">{{house.hostName}}
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non beatae magnam possimus consequuntur omnis saepe ipsam nisi molestias enim molestiae iusto, repellat at suscipit aspernatur quam maxime, distinctio, cum provident!
      </label>
      <hr>
      <label for="addess" class="subject">주소</label>
      <br>
      <label for="address" class="address">{{house.address}}</label>
    </div>

    <div class="col-5 card">
      <img src="{{house.path}}" alt="">
      <label for="price" class="text-right price-text">가격 <br> {{house.price}}</label>
      <button class="btn btn-primary">
        예약하기
      </button>
    </div>
  </div>
</div>
