
<div class="container form-box">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail">House name</label>
      <input type="text" [(ngModel)]="house.houseName" class="form-control" placeholder="사람들을 사로잡을 만한 문구를 적어보세요!" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">가격</label>
      <input type="number" [(ngModel)]="house.price"  class="form-control" placeholder="합리적인 가격!" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">주소</label>
      <input type="text" [(ngModel)]="house.address" class="form-control" placeholder="가장 적합한 곳!">
    </div>
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-primary submit" (click)="searchAddress()">주소 검색</button>
    </div>
  </div>

  <button class="btn btn-danger" (click)='showPhoto()'>사진 추가</button>
  <button [disabled]="!isChecked" class="btn btn-primary" (click)="addHouse()">등록하기</button>


  <div *ngIf="isPhoto">
    <div class="dropzone"
    appDropZone
    (hovered)="toggleHover($event)"
    (dropped)="startUpload($event)"
    [class.hovering]="isHovering"
    >
      <h3>사진을 이곳으로 드래그!</h3>
      <div class="file">
        <label class="file-label">
        <input class="file-input" type="file" (change)="startUpload($event.target.files)">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
    </div>

    <div *ngIf="percentage | async as pct">
    <progress class="progress is-info"
              [value]="pct"
              max="100">
    </progress>
    {{ pct | number }}%
    </div>

    <!-- 있어야 ts에서 snapshot작동 -->
    <div *ngIf="snapshot | async as snap"></div>

  </div>
</div>

<!-- <div class="map_wrap">
  <div id="map" style="width: 100%; height: 100vh;"></div>
  <div class="hAddr">
    <span class="title">지도중심기준 행정동 주소정보</span>
    <span id="centerAddr"></span>
  </div>
</div> -->
